<head>
  <title> Craft Center Online Registration Tool Template Page </title>
</head>
<body>
  <h2> This is a sample Online Registration Tool for the OSU Craft Center </h2>
  <h3> Menu of operations</h3>

  <h4>User Functions:</h4>
  <ul>
    <li><a href='/login'> Login and view their profile page</a></li>
    <li><a href='/profile'> View your profile</a></li>
    <li><a href='/my_classes'> See the current classes you are enrolled in</a></li>
    <li><a href='/open_classes'> See all available classes</a></li>
    <li><a href='/forms_status'> See user forms status</a></li>
  </ul>
  <h4>Admin/Employee Functions:</h4>
  <ul>
    <li> <a href='/users'>List available users</a></li>
    <li> <a href='/classes'>List available classes</a></li>
    <li> <a href='/forms'>List available forms</a></li>
    <li> <a href='/users_classes'>List users_classes relationship table</a></li>
    <li> <a href='/users_forms'>List users_forms relationship table</a></li>
    <li> <a href ='/classes_forms'>List classes_forms relationship table</a></li>
  </body>
