<form id='get_profile_form' action='' method=''>
    <label> Enter your OSU_ID to get your profile:</label>
    <input id='get_profile' type='text' name='get_profile' value=''/>
    <button type="button" id='getProfileButton'>Search</button>
</form>