<head>
    <meta charset="utf-8" />
    <!-- Tab name -->
    <title>Craft Center Main Page</title>
    <link rel="stylesheet" href="/stylesheets/login-index-style.css" type="text/css">
    <meta charset="utf-8">
    <title>Craft Center - My Class</title>
    <!-- Orange top bar with OSU logo Image-->
    <div class="top-orange-container">
    <img class= "osu-logo-img" src="/stylesheets/images/osuLogo.png" alt="osuLogo-img">
    </div>

    <!-- Black top bar with text -->
      <div class="top-black-container">
        <p>Craft Center Registration Tool</p>
      </div>
</head>
<body>

  <!-- Background and Login box-->
  <div class="bottom-container">
    <!-- Login box -->
    <div class="login-box2">
      <!-- Username -->
      <p class="username-text-title">Username</p>

      <!-- Username textbox -->
      <input type="text" id="Uname" name="Uname" class="textbox-username">

      <!-- Password -->
      <p class="password-text-title">Password</p>

      <!-- Password textbox -->
      <input type="password" id="Pname" name="Pname" class="textbox-password">

      <!-- Need Help and Status Service-->
      <div class="links-container">
        <p class="help-link"><a href="https://oregonstate.teamdynamix.com/TDClient/1935/Portal/KB/ArticleDet?ID=59582">Need Help?</a></p>
        <p class="service-status-link"><a href="https://status.is.oregonstate.edu/">Service status</a></p>
      </div>

      <!--Public kiosk -->
      <div class="public-kiosk-container">
        <input type="checkbox" id="public-kiosk-id" name="public-kiosk">
        <label for="public-kiosk-label">This is a public kiosk</label>
      </div>

      <!-- Login button -->
      <button class = "login-button" type="button">Login</button>

    </div>
  </div>


</body>