<html>


<form id='get_profile' action='' method=''>
    <label> Enter your OSU_ID to get your profile:</label>
    <input id='get_profile' type='text' name='get_profile' value=''/>
    <button type="button" onclick="getProfile()">Search</button>
</form>

</html>