body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#osuBar {
  background-color: #D73F09;
  height: 100px;
  text-align: left;
}

#osuLogo {
  height: 100px;
  padding-left: 5px;
}

#blackBar {
  background-color: #000000;
  height: 40px;
  text-align: left;
}

#barText {
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

.navBar {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  min-width: 1000px;
  margin-left: -40px;
  font-family: 'Gudea', Arial, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  display: inline-block;
}


.navBar ul li {
  list-style-type: none;
  float: left;
  margin-left: 20px;
  display: block;
}

.navBar a {
  padding-top: 15px;
  text-decoration: none;
  color: #252525;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
}

.navBar a:hover {
  color: white;
  background-color: #252525;
  padding: 10px 20px;
  display: block;
}

.fastMenu {
  width: 1000px;
  padding: 40px;

  position: center;
  margin-top: 15px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;

}

.announceMenu {
  width: 1000px;
  padding: 40px;

  position: center;
  margin-top: 15px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
}

#titleMain {
  background: #d73f09;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;

  width: 1000px;
  height: auto;
  margin: auto;
  border-radius: 20px;
}

#greeting {
  color: #d73f09;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

#welcome {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#name {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

#quickLink {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#announceSub {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#titleAnnoun {
  background: #d73f09;
  color: white;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  width: 1000px;
  height: auto;
  margin: auto;
  border-radius: 20px;
}

#universalupdate {
  color: #d73f09;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

#announceText {
  resize: none;
  height: 80px;
  width: 1000px;
}

p {
  margin: 0;
  padding: 0;
}


#myRegistration {
  background-color: #D73F09;
  color: white;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 40px;

  float: left;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);
}

#myClass {
  background-color: #D73F09;
  color: white;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 40px;

  float: left;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);
}

#myProfile {
  background-color: #D73F09;
  color: white;
  border: none;
  border-radius: 10px;
  width: 180px;
  height: 40px;

  float: left;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);
}

input[type=text],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: both;
}

input[type="text"] {
  width: 280px;
}

.logout{
  float: right;
  position: relative;
  bottom: 22px;
  right: 10px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 20px;
}