body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#osuBar {
    background-color: #D73F09;
    height: 100px;
    text-align: left;
}

#osuLogo {
    height: 100px;
    padding-left: 5px;
}

#blackBar {
    background-color: #000000;
    height: 40px;
    text-align: left;
}

#barText {
    margin-top: 0;
    padding-top: 10px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

.navBar {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 1000px;
    margin-left: -40px;
    font-family: 'Gudea', Arial, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.navBar ul li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
    display: block;
}

.navBar a {
    padding-top: 15px;
    text-decoration: none;
    color: #252525;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
}

.navBar a:hover {
    color: white;
    background-color: #252525;
    padding: 10px 20px;
    display: block;
}

#profileTitle {
    background: #d73f09;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    width: 1000px;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

.profileHeader {
    background-color: #D73F09;
    height: 70px;
    width: 1000px;
    position: relative;
    border-radius: 25px;
}

.profileBox {
    width: 1000px;
    padding: 40px;
    position: center;
    margin-top: 15px;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
}

#userInfo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 30px;
}

#contactInfo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 30px;
}

hr.solidLine {
    border-top: 1px solid #222222;
}

.fname {
    display: inline-block;
}

#fnameid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

#textFirst {
    color: #808080;
}

#textLast {
    color: #808080;
}

#textMember {
    color: #808080;
}

#textID {
    color: #808080;
}

#textONID {
    color: #808080;
}

.ONIDemail {
    display: inline-block;
}

.altEmail {
    display: inline-block;
    margin-left: 200px;
}

.lname {
    display: inline-block;
    margin-left: 200px;
}

#lnameid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.memberT {
    display: inline-block;
}

.Pronoun {
    display: inline-block;
    margin-left: 200px;
}

.cancelbutton {
    background-color: #D73F09;
    color: white;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    float: left;
    margin-right: 40px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.savebutton {
    background-color: #D73F09;
    color: white;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    float: right;
    margin-right: 40px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: both;
}

input[type="text"] {
    width: 280px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.logout {
    padding-top: 10px;
    float: right;
    position: relative;
    bottom: 52px;
    right: 10px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

select {
    margin: 15px;
    width: 200px;
    padding: 5px 35px 5px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  option {
    text-align: center;
  }
  
  label {
    font-family: Arial, Helvetica, sans-serif;
    }